[submodule "vendor/coffee-mode"]
	path = vendor/coffee-mode
	url = git://github.com/defunkt/coffee-mode.git
[submodule "vendor/scss-mode"]
	path = vendor/scss-mode
	url = git://github.com/antonj/scss-mode/
[submodule "vendor/haml-mode"]
	path = vendor/haml-mode
	url = git://github.com/nex3/haml-mode.git
[submodule "vendor/smex"]
	path = vendor/smex
	url = git://github.com/nonsequitur/smex.git
[submodule "vendor/rinari"]
	path = vendor/rinari
	url = git://github.com/eschulte/rinari.git
[submodule "vendor/emacs-elixir"]
	path = vendor/emacs-elixir
	url = git@github.com:bryan-ash/emacs-elixir.git
